USE [LoyaltyDb]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Int]    Script Date: 12.01.2026 06:06:29 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Int] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 12.01.2026 06:06:29 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 12.01.2026 06:06:29 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PointsBalance] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Points] [int] NOT NULL,
	[TransactionDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CustomerTransactionDetails]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_CustomerTransactionDetails]
WITH SCHEMABINDING -- Index oluşturmak için Schemabinding şart (Madde 9)
AS
SELECT 
    t.Id,
    t.CustomerId,
    c.FirstName,
    c.LastName,
    t.TransactionType,
    t.Points,
    t.TransactionDate
FROM [dbo].[Transactions] t
INNER JOIN [dbo].[Customers] c ON t.CustomerId = c.Id;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[OperationType] [nvarchar](20) NOT NULL,
	[RecordId] [nvarchar](50) NULL,
	[LogDate] [datetime2](7) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PointCost] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260112022934_TemizKurulum', N'8.0.21')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'16050290-1c4c-483b-8d10-90a3821fa99a', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'38dea661-0cc6-41c1-a726-9a35bb16a4e8', N'Personel', N'PERSONEL', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a97bcdb1-bfde-48f6-82d2-cb56639d3714', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1d7201b9-2187-4b09-84c0-48a289eb6abf', N'a97bcdb1-bfde-48f6-82d2-cb56639d3714')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Description]) VALUES (1, N'dasdas', N'asdasda')
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description]) VALUES (2, N'dsadasdasd', N'sadasdasd')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs_Table] ON 

INSERT [dbo].[Logs_Table] ([Id], [TableName], [OperationType], [RecordId], [LogDate], [Details]) VALUES (1, N'Products', N'INSERT', N'1', CAST(N'2026-01-12T02:49:19.5866667' AS DateTime2), N'Product Change')
INSERT [dbo].[Logs_Table] ([Id], [TableName], [OperationType], [RecordId], [LogDate], [Details]) VALUES (2, N'Products', N'UPDATE', N'1', CAST(N'2026-01-12T02:49:25.1933333' AS DateTime2), N'Product Change')
INSERT [dbo].[Logs_Table] ([Id], [TableName], [OperationType], [RecordId], [LogDate], [Details]) VALUES (3, N'Products', N'INSERT', N'2', CAST(N'2026-01-12T02:49:32.3733333' AS DateTime2), N'Product Change')
SET IDENTITY_INSERT [dbo].[Logs_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Description], [PointCost], [StockQuantity], [IsActive]) VALUES (1, N'asdasd', N'dsada', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [PointsBalance]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Customers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Products]
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Del]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SP: SİLME
CREATE   PROCEDURE [dbo].[sp_Categories_Del]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Categories] WHERE Id = @Id;
    SELECT @Id AS Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Ins]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP: EKLEME
CREATE   PROCEDURE [dbo].[sp_Categories_Ins]
    @Name NVARCHAR(100),
    @Description NVARCHAR(500) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Categories] (CategoryName, Description)
    VALUES (@Name, @Description);
    SELECT * FROM [dbo].[Categories] WHERE Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_List]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. SP: LİSTELEME (Pagination & Filter & Sort)
CREATE   PROCEDURE [dbo].[sp_Categories_List]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY,
    @parameters dbo.Type_Dictionary_String_Object READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    DECLARE @OrderBy NVARCHAR(100) = 'Id';

    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    IF @PageNumber IS NULL SET @PageNumber = 1;
    IF @PageSize IS NULL SET @PageSize = 10;
    IF @OrderBy IS NULL OR @OrderBy = '' SET @OrderBy = 'Id';

    DECLARE @FilterName NVARCHAR(100) = NULL;
    SELECT @FilterName = Value FROM @where WHERE [Key] = 'CategoryName';

    DECLARE @TotalRecordCount INT;
    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Categories]
    WHERE (@FilterName IS NULL OR CategoryName LIKE '%' + @FilterName + '%');

    SELECT *, @TotalRecordCount AS TotalRecordCount
    FROM [dbo].[Categories]
    WHERE (@FilterName IS NULL OR CategoryName LIKE '%' + @FilterName + '%')
    ORDER BY 
        CASE WHEN @OrderBy = 'Id' THEN Id END ASC,
        CASE WHEN @OrderBy = 'Id DESC' THEN Id END DESC,
        CASE WHEN @OrderBy = 'CategoryName' THEN CategoryName END ASC,
        CASE WHEN @OrderBy = 'CategoryName DESC' THEN CategoryName END DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Upd]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP: GÜNCELLEME
CREATE   PROCEDURE [dbo].[sp_Categories_Upd]
    @Id INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(500) = NULL
AS
BEGIN
    UPDATE [dbo].[Categories]
    SET CategoryName = @Name,
        Description = @Description
    WHERE Id = @Id;
    SELECT * FROM [dbo].[Categories] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_AddPoints]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Customer_AddPoints]
    @CustomerId INT,
    @Points INT,
    @Description NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. İşlem Kaydı Oluştur
        INSERT INTO [dbo].[Transactions] (CustomerId, ProductId, TransactionType, Points)
        VALUES (@CustomerId, NULL, 'EARN', @Points);

        -- 2. Müşteri Bakiyesini Güncelle
        UPDATE [dbo].[Customers]
        SET PointsBalance = PointsBalance + @Points
        WHERE Id = @CustomerId;

        COMMIT TRANSACTION;
        
        SELECT * FROM [dbo].[Customers] WHERE Id = @CustomerId;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Del]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Products_Del]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM [dbo].[Products] WHERE Id = @Id;
    -- Silinen ID'yi veya durum bilgisini dönebiliriz
    SELECT @Id AS Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Ins]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Products_Ins]
    @Name NVARCHAR(100),
    @Description NVARCHAR(500) = NULL,
    @PointCost INT,
    @StockQuantity INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[Products] (ProductName, Description, PointCost, StockQuantity)
    VALUES (@Name, @Description, @PointCost, @StockQuantity);
    
    -- Geriye eklenen kaydı döndür (MyDbModel Items listesine dolması için)
    SELECT * FROM [dbo].[Products] WHERE Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_List]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Products_List]
    @pagination dbo.Type_Dictionary_String_String READONLY, -- C# Pagination dictionary
    @where dbo.Type_Dictionary_String_String READONLY,      -- C# Where dictionary
    @parameters dbo.Type_Dictionary_String_Object READONLY  -- C# Generic params
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Pagination Değerlerini Çözümle
    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    DECLARE @OrderBy NVARCHAR(100) = 'Id';

    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    IF @PageNumber IS NULL SET @PageNumber = 1;
    IF @PageSize IS NULL SET @PageSize = 10;
    IF @OrderBy IS NULL OR @OrderBy = '' SET @OrderBy = 'Id';

    -- 2. Filtreleme Değerlerini Çözümle (Örnek: ProductName filtresi)
    DECLARE @FilterName NVARCHAR(100) = NULL;
    SELECT @FilterName = Value FROM @where WHERE [Key] = 'ProductName';

    -- 3. Toplam Kayıt Sayısını Hesapla (UnitOfWork TotalRecordCount için gerekli)
    DECLARE @TotalRecordCount INT;
    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Products]
    WHERE (@FilterName IS NULL OR ProductName LIKE '%' + @FilterName + '%');

    -- 4. Sorguyu Çalıştır (Dynamic SQL yerine parametrik pagination)
    -- Not: Dynamic SQL daha esnektir ama burada güvenli standardı gösteriyorum.
    
    SELECT 
        *,
        @TotalRecordCount AS TotalRecordCount -- UnitOfWork bu kolonu okuyup map ediyor
    FROM [dbo].[Products]
    WHERE (@FilterName IS NULL OR ProductName LIKE '%' + @FilterName + '%')
    ORDER BY 
        CASE WHEN @OrderBy = 'Id' THEN Id END ASC,
        CASE WHEN @OrderBy = 'ProductName' THEN ProductName END ASC,
        CASE WHEN @OrderBy = 'PointCost' THEN PointCost END ASC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Upd]    Script Date: 12.01.2026 06:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Products_Upd]
    @Id INT,
    @Name NVARCHAR(100),
    @PointCost INT,
    @StockQuantity INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[Products]
    SET ProductName = @Name,
        PointCost = @PointCost,
        StockQuantity = @StockQuantity
    WHERE Id = @Id;

    SELECT * FROM [dbo].[Products] WHERE Id = @Id;
END
GO
