USE [LoyaltyDb]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 23.12.2025 07:54:27 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 23.12.2025 07:54:27 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[LoyaltyPoints] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CustomerSummary]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- BÖLÜM 4: GÖRÜNÜMLER (VIEWS) - MADDE 8, 9
-- =============================================

CREATE VIEW [dbo].[vw_CustomerSummary]
WITH SCHEMABINDING -- İndeksli View için gerekli
AS
SELECT 
    Id, 
    FirstName, 
    LastName, 
    Email, 
    LoyaltyPoints,
    IsActive
FROM dbo.Customers
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[Operation] [nvarchar](20) NULL,
	[RecordId] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[LogDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyTransactions]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[TransactionDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LoyaltyTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rewards]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[PointsCost] [int] NOT NULL,
	[StockQuantity] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[LoyaltyTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Rewards] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Rewards] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LoyaltyTransactions]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyTransactions_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoyaltyTransactions] CHECK CONSTRAINT [FK_LoyaltyTransactions_Customers]
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_Create]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- BÖLÜM 6: STORED PROCEDURES (CRUD) - MADDE 11
-- =============================================

-- 1. MÜŞTERİ EKLEME
CREATE PROCEDURE [dbo].[sp_Customer_Create]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Customers] (FirstName, LastName, Email, Phone, LoyaltyPoints, IsActive)
    VALUES (@FirstName, @LastName, @Email, @Phone, 0, 1);
    
    -- C# UnitOfWork dönerken DataTable bekliyor, boş bir select dönelim veya ID dönelim
    SELECT SCOPE_IDENTITY() AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_Delete]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. MÜŞTERİ SİLME
CREATE PROCEDURE [dbo].[sp_Customer_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Customers] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_GetById]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. MÜŞTERİ GETİR (TEK KAYIT)
CREATE PROCEDURE [dbo].[sp_Customer_GetById]
    @Id INT
AS
BEGIN
    -- UnitOfWork TotalRecordCount beklediği için onu da ekliyoruz
    SELECT *, 1 as TotalRecordCount FROM [dbo].[Customers] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_List]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. MÜŞTERİ LİSTELEME (DİNAMİK FİLTRE & SAYFALAMA) - EN KRİTİK SP
CREATE PROCEDURE [dbo].[sp_Customer_List]
    @pagination Type_Dictionary_String_String READONLY, -- Sayfalama Parametreleri
    @where Type_Dictionary_String_String READONLY       -- Filtreleme Parametreleri
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Sayfalama Değişkenlerini Ayıkla
    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    DECLARE @OrderBy NVARCHAR(100) = 'Id DESC';

    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    IF @PageNumber < 1 SET @PageNumber = 1;
    IF @PageSize < 1 SET @PageSize = 10;
    IF @OrderBy IS NULL OR @OrderBy = '' SET @OrderBy = 'Id DESC';

    -- 2. Dinamik SQL Oluşturma
    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @WhereClause NVARCHAR(MAX) = '1=1'; 

    -- @where tablosundaki filtrelere göre Where Clause oluştur
    -- Örnek: Adı 'Ali' olanları filtrelemek için
    IF EXISTS (SELECT 1 FROM @where WHERE [Key] = 'FirstName')
        SELECT @WhereClause = @WhereClause + ' AND FirstName LIKE ''%' + Value + '%''' FROM @where WHERE [Key] = 'FirstName';
    
    IF EXISTS (SELECT 1 FROM @where WHERE [Key] = 'LastName')
        SELECT @WhereClause = @WhereClause + ' AND LastName LIKE ''%' + Value + '%''' FROM @where WHERE [Key] = 'LastName';

    -- 3. Ana Sorgu (TotalRecordCount ile birlikte)
    SET @Sql = '
        WITH CTE AS (
            SELECT 
                Id, FirstName, LastName, Email, Phone, LoyaltyPoints, IsActive, CreatedAt
            FROM [dbo].[Customers]
            WHERE ' + @WhereClause + '
        ),
        CountCTE AS (
            SELECT COUNT(*) AS TotalCount FROM CTE
        )
        SELECT 
            c.*, 
            t.TotalCount AS TotalRecordCount 
        FROM CTE c
        CROSS JOIN CountCTE t
        ORDER BY ' + @OrderBy + '
        OFFSET ' + CAST(((@PageNumber - 1) * @PageSize) AS NVARCHAR(20)) + ' ROWS
        FETCH NEXT ' + CAST(@PageSize AS NVARCHAR(20)) + ' ROWS ONLY;
    ';

    -- Sorguyu Çalıştır
    EXEC sp_executesql @Sql;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_Update]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. MÜŞTERİ GÜNCELLEME
CREATE PROCEDURE [dbo].[sp_Customer_Update]
    @Id INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @IsActive BIT
AS
BEGIN
    UPDATE [dbo].[Customers]
    SET FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        Phone = @Phone,
        IsActive = @IsActive
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Reward_Add]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Ekleme Prosedürü
CREATE PROCEDURE [dbo].[sp_Reward_Add]
    @Title NVARCHAR(100),
    @Description NVARCHAR(250),
    @PointsCost INT,
    @StockQuantity INT
AS
BEGIN
    INSERT INTO Rewards (Title, Description, PointsCost, StockQuantity, IsActive)
    VALUES (@Title, @Description, @PointsCost, @StockQuantity, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Reward_Delete]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Silme Prosedürü
CREATE PROCEDURE [dbo].[sp_Reward_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM Rewards WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Reward_List]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Listeleme Prosedürü
CREATE PROCEDURE [dbo].[sp_Reward_List]
    @PageNumber INT = 1,
    @ItemCount INT = 10,
    @OrderBy NVARCHAR(50) = 'Id DESC',
    @Where NVARCHAR(MAX) = NULL -- Arama için
AS
BEGIN
    -- Basit listeleme (Sayfalama mantığı Provider'da hallediliyor, burayı düz çekelim)
    SELECT * FROM Rewards
    ORDER BY Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stats_MonthlyRegistrations]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Grafik Verisi: Son 6 aydaki kayıt sayıları
CREATE PROCEDURE [dbo].[sp_Stats_MonthlyRegistrations]
AS
BEGIN
    SELECT TOP 6
        FORMAT(CreatedAt, 'MMMM yyyy', 'tr-TR') AS [Key], -- Örn: Aralık 2023 (Türkçe)
        COUNT(*) AS [Value] -- Kayıt Sayısı
    FROM [dbo].[Customers]
    GROUP BY FORMAT(CreatedAt, 'MMMM yyyy', 'tr-TR'), YEAR(CreatedAt), MONTH(CreatedAt)
    ORDER BY YEAR(CreatedAt) DESC, MONTH(CreatedAt) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_System_Log_Create]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DbLogger için SP (Madde 19b)
CREATE PROCEDURE [dbo].[sp_System_Log_Create]
    @TableName NVARCHAR(50) = 'System',
    @Operation NVARCHAR(20) = 'Info',
    @RecordId NVARCHAR(50) = NULL,
    @OldValue NVARCHAR(MAX) = NULL,
    @NewValue NVARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Logs_Table] (TableName, Operation, RecordId, OldValue, NewValue, LogDate)
    VALUES (@TableName, @Operation, @RecordId, @OldValue, @NewValue, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_System_Log_List]    Script Date: 23.12.2025 07:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Logları Listeleme SP'si
CREATE PROCEDURE [dbo].[sp_System_Log_List]
AS
BEGIN
    -- Son 200 kaydı getirir (Çok fazla veri olacağı için kısıtlıyoruz)
    SELECT TOP 200
        Id,
        TableName,
        Operation,
        RecordId,
        OldValue,
        NewValue,
        LogDate
    FROM Logs_Table
    ORDER BY Id DESC
END
GO
